<header class="scrapbook-header text-center pb-2">
 <h2 class="text-center display-6 fw-bold mb-5 text-pink-600"> From Childhood to Forever 💕</h2>
  <p class="subtitle">
    Two little hearts, one beautiful journey
  </p>
</header>

<!-- ================= SCRAPBOOK SECTION ================= -->
<section class="scrapbook-wrapper">

  <div class="scrapbook max-w-12xl mx-3 p-6 scrapbook-grid">

    <!-- ===== THEN SECTION ===== -->
    <div class="then-section">
      <span class="label pb-2">THEN</span>

      <div class="card-group">
        <div class="photo-card">
          <img src="images/nari.jpeg" alt="Childhood photo 1">
        </div>

        <div class="photo-card">
          <img src="images/sravani.jpeg" alt="Childhood photo 2">
        </div>
      </div>

      <p class="note-text mt-3">Our Childhood 👶💫</p>
    </div>

    <!-- ===== CENTER LOVE NOTE ===== -->
    <div class="love-note">
      <p class="love-equation">
        ❤️ You & Me ❤️
      </p>

      <div class="heart-shape"></div>

      <p class="love-caption">
        We Fell in <span>Love</span><br />
        <small>Forever</small>
      </p>
    </div>

    <!-- ===== NOW SECTION ===== -->
    <div class="now-section">
      <span class="label pb-2">NOW</span>

      <div class="fullphoto-card">
        <img src="images/recp.jpeg" alt="Wedding photo">
      </div>

      <div class="notes">
        <p>Our Wedding Day 💍</p>
        <p>From Childhood Sweethearts to Soulmates</p>
        <p>Dreams Do Come True ❤️</p>
      </div>
    </div>

  </div>
</section>