<section class="photo-unite">
  <h2 class="text-center display-6 fw-bold mb-5 text-pink-600">Two Souls, One Frame 💞</h2>
  <div class="photo-stage" (click)="toggleJoin()">
    <div
      class="half left"
      [class.join]="joined"
      [class.hide]="showFinal">
    </div>

    <div
      class="half right"
      [class.join]="joined"
      [class.hide]="showFinal">
    </div>
    <div
      class="full-image"
      [class.show]="showFinal">
    </div>
  </div>

  <div class="muhurtham-text" [class.show]="showFinal">
    <h2>Our Muhurtham Moment 🌸</h2>
    <p>Where two souls became one</p>
    <span>16 February 2025 · 08:31 AM</span>
  </div>
  <button class="toggle-btn" (click)="toggleJoin()">
    {{ joined ? 'Forever Starts Here 💍' : 'Bring Our Hearts Together ❤️' }}
  </button>
</section>